### Loading/import data from file

In [20]:
import pandas as pd
df=pd.read_csv('nyc_taxis.csv', sep=',',header=None)
print(df.head(2))
ndarray = df.to_numpy()
print(ndarray[:2,:])

            0             1           2                 3            4   \
0  pickup_year  pickup_month  pickup_day  pickup_dayofweek  pickup_time
1         2016             1           1                 5            0

                     5                      6              7            8   \
0  pickup_location_code  dropoff_location_code  trip_distance  trip_length
1                     2                      4          21.00         2037

            9            10            11          12            13  \
0  fare_amount  fees_amount  tolls_amount  tip_amount  total_amount
1         52.0          0.8          5.54       11.65         69.99

             14
0  payment_type
1             1
[['pickup_year' 'pickup_month' 'pickup_day' 'pickup_dayofweek'
  'pickup_time' 'pickup_location_code' 'dropoff_location_code'
  'trip_distance' 'trip_length' 'fare_amount' 'fees_amount'
  'tolls_amount' 'tip_amount' 'total_amount' 'payment_type']
 ['2016' '1' '1' '5' '0' '2' '4' '21.00' '2037' '52.0' '0.8' '5.54'
  '11.65' '69.99' '1']]

In [17]:
from numpy import genfromtxt
my_data = genfromtxt('nyc_taxis.csv', delimiter=',')
print(my_data[:2,:])

[[      nan       nan       nan       nan       nan       nan       nan
        nan       nan       nan       nan       nan       nan       nan
        nan]
 [2.016e+03 1.000e+00 1.000e+00 5.000e+00 0.000e+00 2.000e+00 4.000e+00
  2.100e+01 2.037e+03 5.200e+01 8.000e-01 5.540e+00 1.165e+01 6.999e+01
  1.000e+00]]

In [16]:
import csv
import numpy as np

# import nyc_taxi.csv as a list of lists
f = open("nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

# remove the header row
taxi_list = taxi_list[1:]

# convert all values to floats
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_taxi_list.append(converted_row)

taxi = np.array(converted_taxi_list, dtype=object)
print(taxi.shape)
print(taxi[:2,:])

(5, 15)
[[2016.0 1.0 1.0 5.0 0.0 2.0 4.0 21.0 2037.0 52.0 0.8 5.54 11.65 69.99
  1.0]
 [2016.0 1.0 1.0 5.0 0.0 2.0 1.0 16.29 1520.0 45.0 1.3 0.0 8.0 54.3 1.0]]

https://stackoverflow.com/questions/3518778/how-do-i-read-csv-data-into-a-record-array-in-numpy
manipulating huge amount of data

In [25]:
import pandas as pd

data = pd.read_csv("nyc_taxis.csv")
store = pd.HDFStore('dataset.h5')
store['mydata'] = data
store.close()

store = pd.HDFStore('dataset.h5')
data = store['mydata']
store.close()

print(type(data))
#data to numpy format
data = data.values
print(type(data))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [5]:
import pandas as pd
from numpy.random import randn

bar = pd.DataFrame(randn(10, 4))
store = pd.HDFStore('test.h5')
store['foo'] = bar   # write to HDF5
bar = store['foo']   # retrieve
store.close()